{% extends "base.html" %}
{% block headline %}Get your bookmarklets!{% endblock %}
{% block head %}
    <style type="text/css">
        #bookmarklet { display:inline-block; padding:5px 8px; border:1px solid green; }
    </style>
{% endblock %}
{% block main %}

Drag this to your bookmarks: <a id="bookmarklet" href="javascript:(function(){window.mlong_host='{{server_host}}';var s=document.createElement('script');s.setAttribute('src','//{{server_host}}/static/main.js?r='+(new Date()).getTime());document.body.appendChild(s);}());">BM</a>
{% endblock %}
