{% extends "base.html" %}
{% block headline %}Music{% endblock %}
{% block head %}
    <style type="text/css">
        #SearchForm { margin-bottom:20px; }
        #AddSongForm { margin-bottom:20px; }
        #AddSongForm label { display:none; }
    </style>
{% endblock %}
{% block main %}
    <div id="MusicApp">
        <div id="SearchForm">
            <input id="SearchQuery" type="text" name="query" value="" placeholder="Find some beats" autofocus/>
        </div>
        <div id="AddSongForm" style="display:none">
            <label for="add-artist">Artist</label>
            <input id="AddSongArtist" class="deletable" type="text" name="add-artist" value="" placeholder="Artist" size="14"/>

            <label for="add-title">Title</label>
            <input id="AddSongTitle" class="deletable" type="text" name="add-title" value="" placeholder="Title" size="14"/>

            <label for="add-source">Source</label>
            <input id="AddSongSource" class="deletable" type="text" name="add-source" value="" placeholder="Source" size="10"/>

            <button id="AddSongSubmit" type="submit">Add</button>
        </div>
        <ul id="SongList">
        </ul>
    </div>

    <!-- Templates -->
    <script type="text/template" id="SongTemplate">
        <span class="title"><%=title%></span> by
        <span class="artist"><%=artist%></span> found on
        <span class="source"><%=source%></span>
    </script>
{% endblock %}
{% block javascript %}
{% include "csrf-ajax.html" %}
<script>
(function(){
    var Song = Backbone.Model.extend({
        initialize: function() {

        },
        parse: function(info) {
            var fields = info.fields;
            return {
                title: fields.name,
                artist: fields.artist || null,
                source: fields.source || null
            };
        }
    });

    var SongList = Backbone.Collection.extend({
        model: Song,
        url: '/api/music'
    });

    var songs = new SongList();
    songs.on('all', function(eventName, arguments) {
        //console.warn(eventName, arguments);
    });

    var SongView = Backbone.View.extend({
        tagName: 'li',
        className: 'song',
        template: _.template($("#SongTemplate").html()),
        render: function() {
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        }
    });

    var AppView = Backbone.View.extend({
        lastQuery: null,

        el: $('#MusicApp'),
        events: {
            'keypress #SearchQuery': 'searchSongs',

            'keypress #AddSongForm input[type="text"]': 'addSong',
            'click #AddSongSubmit': 'addSong'
        },
        initialize: function() {
            this.searchField = this.$('#SearchQuery');
            this.results = this.$('#SongList');
            this.addSongForm = this.$('#AddSongForm');

            songs.bind('reset', this.updateSongs, this);

        },
        searchSongs: function(e) {
            if (e.keyCode != 13) { return; } //enter?

            var query = this.searchField.val();

            songs.fetch({data: {q: query}});
            this.lastQuery = query;
        },
        addSong: function(e) {
            if (e.type == 'keypress' && e.keyCode != 13) { return; } //enter?
            var attrs = {
                title: this.addSongForm.find('#AddSongTitle').val(),
                artist: this.addSongForm.find('#AddSongArtist').val(),
                source: this.addSongForm.find('#AddSongSource').val()
            };
            var song = new Song(attrs);
            console.warn(song.toJSON());
            songs.add(song);
            console.warn(song.toJSON());
            song.save();
        },
        updateSongs: function() {
            var parsed = this.parseQuery(this.lastQuery);
            if (songs.length == 0 && parsed) {
                this.results.hide();
                this.addSongForm.show()
                .find('#AddSongArtist').val(parsed['artist']).select().end()
                .find('#AddSongTitle').val(parsed['title']).end()
                .find('#AddSongSource').val(parsed['source']);
            } else {
                this.addSongForm.hide();
                this.results.empty().show();
                songs.map(function(song, arguments) {
                    var view = new SongView({model:song}).render();
                    this.results.append(view.el);
                }, this);
            }

        },
        parseQuery: function(query) {
            var parsed = {'artist':'', 'title':'', 'source':''};
            var regex, match;

            if (!match) {
                regex = /^([^-]+)-(.+),\s+(.+)$/i; //artist/title/source
                match = regex.exec(query);
                if (match) {
                    parsed['artist'] = match[1];
                    parsed['title'] = match[2];
                    parsed['source'] = match[3];
                }
            }

            if (!match) {
                regex = /^([^-]+)-(.+)$/i; //artist/title
                match = regex.exec(query);
                if (match) {
                    parsed['artist'] = match[1];
                    parsed['title'] = match[2];
                }
            }

            if (match) {
                //clean up parsed values
                for (var key in parsed) {
                    parsed[key] = parsed[key].trim().replace(/,$/, '');
                }
                return parsed;
            } else {
                return null;
            }
        }
    });

    var App = new AppView();
    songs.reset({{jsonsongs|safe}}, {parse:true});

}());
</script>
{% endblock %}
