html { font-family:Georgia; }
footer, header, section { display: block; }
a:hover,a:active { outline:0; }

body { position:relative; margin:0 auto; width:960px; color:#333; }

#user { position:absolute; top:0; right:0; font-size:12px; }
#user span,
#user a { margin-left:2px; }

#header { overflow:hidden; margin:20px 0 0 0; padding:0 0 20px 0; border-bottom:1px solid #ddd; }

#maintitle { margin:0 0 5px 0; font-size:64px; text-align:center; letter-spacing:0.1em; }

#tagline { text-align:center; font-size:14px; }

#navigation { margin-top:30px; }

#title { margin:20px 0 20px 30px; }
#title h2 { margin:0; font-size:28px; }

.main { position:relative; margin:30px; }

#maintitle a { text-decoration:none; }
#maintitle a, #maintitle a:active, #maintitle a:visited { color:#444; }
#maintitle a:hover { color:#197B19; }

.main a, .main a:active, .main a:visited { color:#444; }
.main a:hover { color:#197B19; }

.horizontal-nav { position:relative; float:left;  left:50%; margin:0; list-style-type:none; text-align:center; padding:0; }
.horizontal-nav li { display:block; position:relative; float:left; right:50%; margin:0; border-style:solid; border-color:#666; padding:0 10px; font-size:18px; border-width: 0 1px 0 0; }
.horizontal-nav li:last-child { border-width: 0; }
.horizontal-nav a, .horizontal-nav a:hover, .horizontal-nav a:visited { color: #333; }

/*.round-buttons { list-style:none; margin:0 auto; padding:0; }
.round-buttons li { padding:6px 0 15px 0; }
.round-buttons a { border:2px solid #ccc; border-radius:40px; padding:4px 10px; color:#aaa; text-decoration:none; letter-spacing:1px; }
.round-buttons a:hover { border-color:#197B19; background-color:#197B19; color:white; }

#me-links { position:absolute; bottom:20px; }
#me-links li { padding:0 0 10px 0; }
#me-links a { border:0px solid #aaa; padding:5px 10px 5px 12px; }*/

input[type="text"] { border:1px solid #bbb; border-radius:14px; font-size:18px; padding:6px 10px; outline:none; }

span.deleteicon { position:relative; }
span.deleteicon span { position:absolute; display:none; top:0; right:8px; width:16px; height:16px; cursor:pointer; }
/*span.deleteicon input { padding-right:16px; }*/

.md { margin:15px 0 50px; font-size:14px; }

.md pre { border:1px solid #999; padding:10px; overflow-x:normal; word-wrap:normal; }
.md pre, .md code { background-color:#A3BFA3; }
.md p code { padding:0 2px; }
.md a, .md a:hover, .md a:active, .md a:visited { color:#197B19; }
